<form>
    <h1>Ajout d'effets de fiel</h1>
    <h2>Menace actuelle : {{menace}}</h2>
    {{#each effets as |effet|}}
    <div id="{{effect.name}}" class="flexrow">
        <div>
            <h4>{{effet.name}} <input type="checkbox"
                    data-effect-name="{{effet.name}}"></h4>
            <p>{{effet.description}}</p>
        </div>

        <div>
            <h5>notes pour la Loi</h5>
            <textarea class="gmNotes" data-effect-name="{{effet.name}}"
                cols="30" rows="6"></textarea>
        </div>
    </div>
    {{/each}}
    <h3>créer un effet personnalisé</h3>
    <div id="custom-effect" class="flexrow">

        <div>
            <h4><input style="width:80%" type="text" id="custom-name"
                    placeholder="nom"> <input
                    type="checkbox"
                    data-effect-name="custom"></h4>
            <p> <textarea id="custom-description"
                    cols="30" rows="6">description</textarea>
            </p>
        </div>

        <div>
            <h5>notes pour la Loi</h5>
            <textarea class="gmNotes"
                cols="30" rows="6"></textarea>
        </div>
    </div>
    <footer class="flexrow">
        <a class="button" id="validEffects">ajouter les effets cochés</a>
        <a class="button" id="cancelEffects">Annuler</a>
    </footer>
</form>