<div class="chat-message-header">
  {{#if actorImg}}
  <img class="actor-icon" src="{{actorImg}}" alt="{{alias}}" />
  {{/if}}
  <h4 class=chat-actor-name>{{alias}}</h4>
</div>

  <hr>
  
  {{#if img}}
  <div >
    <img class="chat-icon" src="{{img}}" alt="{{name}}" />
  </div>
  {{/if}}

  <div>
    <ul>
      <li>Talent :  {{talent.label}} ({{talent.niveau}})</li>
      <li>Dés de domaine utilisés :  {{nbDesDomaine}}</li>
      {{#if useEspoir}}
      <li>Un point d'Espoir utilisé</li>
      {{/if}}
      {{#if useVecu}}
      <li>Un point de vécu a été utilisé</li>
      {{/if}}
      <li>Gouttes de Fiel ajoutées :  {{nbFiel}}</li>
      <li>Nombre de succès :  {{nbSuccess}}</li>
      <li>Niveau final :  {{niveauFinal}}</li>
    </ul>  
  </div>

  </div>
