<div class="nocRoll">
  <div class="chat-message-header">
    {{log this}}
    {{#if actorImg}}
    <img class="actor-icon" src="{{actorImg}}" alt="{{alias}}" />
    {{/if}}
    <h4 class=chat-actor-name>{{alias}}</h4>
  </div>

  <hr>

  {{#if img}}
  <div>
    <img class="chat-icon" src="{{img}}" alt="{{name}}" />
  </div>
  {{/if}}

  <div>
    <ul>
      <li>Talent : {{talent.label}} ({{talent.niveau}})</li>
      <li>Dés de domaine utilisés : {{nbDesDomaine}}</li>
      <li class="dicesResults flexrow">
        {{#each roll.terms as |term index|}}
          {{#each term.results as |dice index|}}
          <div class="dice
            {{#if dice.success}} success {{/if}}
            {{#ifequal dice.result 1}} fiel{{/ifequal}}
            {{#ifequal dice.result 10}} relance{{/ifequal}}
            ">
            {{dice.result}}
        </div>
        {{/each}}
        {{/each}}
        
        {{#each rollBonus.terms as |term index|}}
          {{#each term.results as |dice index|}}
          <div class="dice
            {{#if dice.success}} success {{/if}}
            {{#ifequal dice.result 1}} fiel{{/ifequal}}
            {{#ifequal dice.result 10}} relance{{/ifequal}}
            ">
            {{dice.result}}
        </div>
        {{/each}}
        {{/each}}
      </li>
      {{#if useEspoir}}
      <li>Un point d'Espoir utilisé</li>
      {{/if}}
      {{#if useVecu}}
      <li>Un point de vécu a été utilisé</li>
      {{/if}}
      <li>Gouttes de Fiel ajoutées : {{nbFiel}}</li>
      <li>Nombre de succès : {{nbSuccess}}</li>
      <li class="rollResult">Niveau final : {{niveauFinal}}</li>
    </ul>

    {{#if nbAddDice}}
      Vous pouvez bénéficier de {{nbAddDice}} dés. Combien voulez vous en lancer ?</li>
      <button class="roll-dice-bonus" data-nb-dice="0">Aucun dé</button>
      {{#repeat nbAddDice}}
        <button class="roll-dice-bonus" data-nb-dice="{{add @index 1}}">{{add @index 1}} Dé(s)</button>
      {{/repeat}}
    {{/if}}

  </div>

</div>
