<div class="nocRoll">
  <div class="chat-message-header flexrow">
    {{log this}}
    {{#if actorImg}}
    <img class="actor-icon" src="{{actorImg}}" alt="{{alias}}" />
       <h4 class="chat-actor-name">{{alias}}</h4> 

     {{#if (eq mode "talent")}}
      <h4>Talent : {{talent.label}} ({{talent.niveau}})</h4>
      {{/if}}
      {{#if (eq mode "arme")}}
      <h4>Arme : {{arme.name}} </h4>
      {{/if}}
     {{/if}}
  </div>

  <hr>

  {{#if img}}
  <div class="chat-message-header flexrow">
    <img class="chat-icon" src="{{img}}" alt="{{name}}" />
    <h4 class="chat-actor-name">{{name}}</h4>

    {{#if (eq mode "talent")}}
    <h4>Talent : {{talent.label}} ({{talent.niveau}})</h4>
    {{/if}}
    {{#if (eq mode "arme")}}
    <h4>Arme : {{arme.name}} </h4>
    {{/if}}

  </div>
  {{/if}}

  <div>
    <ul>
     

      <li>Dés de domaine utilisés : {{nbDesDomaine}}</li>
      <li class="dicesResults flexrow">
        {{#each roll.terms as |term index|}}
          {{#each term.results as |dice index|}}
          <div class="dice
            {{#if dice.success}} success {{/if}}
            {{#ifequal dice.result 1}} fiel{{/ifequal}}
            {{#ifequal dice.result 10}} relance{{/ifequal}}
            ">
            {{dice.result}}
            <i class="fa-light fa-dice-d10"></i>
        </div>
        {{/each}}
        {{/each}}

        {{#each rollBonus.terms as |term index|}}
          {{#each term.results as |dice index|}}
          <div class="dice relance
            {{#if dice.success}} success {{/if}}
            {{#ifequal dice.result 1}} fiel{{/ifequal}}
            {{#ifequal dice.result 10}} relance{{/ifequal}}
            ">
            {{dice.result}}
            <i class="fa-light fa-dice-d10"></i>

        </div>
        {{/each}}
        {{/each}}
      </li>
      {{#if nbBonusCollaboratif}}
      <li>Bonus collaboratif : {{nbBonusCollaboratif}}</li>
      {{/if}}
      {{#if useEspoir}}
      <li>Un point d'Espoir utilisé</li>
      {{/if}}
      {{#if useVecu}}
      <li>Un point de vécu a été utilisé</li>
      {{/if}}
      <li>Gouttes de Fiel ajoutées : {{nbFiel}}</li>
      <li>Nombre de succès : {{nbSuccess}}</li>
      <li class="rollResult">Niveau final obtenu : {{niveauFinal}}</li>

      {{#if niveauFinalRequis}}
        <li>Niveau final requis : {{niveauFinalRequis}} </li>
        {{#if isReussite}}
          <li class="rollResult">Réussite !! (Marge {{margin}})</li>
          {{#if (eq mode "arme")}}
          <li class="rollResult">Traits de l'arme : {{arme.system.traits}}</li>
          <li class="rollResult">Dégats : {{arme.system.degats}} - Constitution - Armure</li>
          {{/if}}
        {{else}} 
          <li class="rollResult">Echec!! (Marge {{margin}})</li>
        {{/if}}
      {{/if}}
    </ul>

    {{#if nbAddDice}}
      Vous pouvez bénéficier de {{nbAddDice}} dés. Combien voulez vous en lancer ?</li>
      <button class="roll-dice-bonus" data-nb-dice="0">Aucun dé</button>
      {{#repeat nbAddDice}}
        <button class="roll-dice-bonus" data-nb-dice="{{add @index 1}}">{{add @index 1}} Dé(s)</button>
      {{/repeat}}
    {{/if}}

  </div>

</div>
